:root {
  --nitro-visibility: none;
  --server-boost-visibility: none;
}

.content-3YMskv a.channel-2QD9_O.container-2Pjhx-:nth-child(3) {
  display: var(--nitro-visibility);
}

.buttons-3JBrkn button[aria-label="Send a gift"] {
  display: var(--nitro-visibility);
}

.shinyButton-3uFlM-.ctaButton-fjBGVN.button-38aScr.lookFilled-1Gx00P {
  display: var(--nitro-visibility);
}
.flex-1xMQg5.flex-1O1GKY.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignStretch-DpGPf3.noWrap-3jynv6.truncatingText-18osv_
  > .size14-e6ZScH {
  display: var(--nitro-visibility);
}

.ctaBar-2UsjF2 .actions-2fUYl0 {
  display: var(--server-boost-visibility);
}
.content-2qfHzC .action-2cD_qI {
  display: var(--server-boost-visibility);
}

.contentColumn-2hrIYH.contentColumnDefault-1VQkGM .button-1PXUl0 {
  display: var(--nitro-visibility);
}
.item-PXvHYJ:nth-child(8) {
  display: var(--nitro-visibility);
}
.item-PXvHYJ:nth-child(9) {
  display: var(--server-boost-visibility);
}

.profileGuildSubscriberlvl1-3oI9tx,
.profileGuildSubscriberlvl2-3oI9tx,
.profileGuildSubscriberlvl3-3oI9tx,
.profileGuildSubscriberlvl4-3oI9tx {
  display: var(--server-boost-visibility);
}
.profileBadgePremium-1KDZYC {
  display: var(--nitro-visibility);
}
